.container{
    display: flex;
    justify-content: center;
    margin:0;
}

.recognition{
    position:absolute;
    margin-top: .5rem;
}

.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}